#drawing-container {
    display: flex;
    border: 2px solid green;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


#drawing-board {
    display: grid;
    border: 2px solid yellow;
    width: 660px;
    height: 660px;
}

.grid {
    border: 1px solid black;
}